
<section id="login"  class="d-center ">
<section id="auth-form" >
    <div class="mainImg  m-auto text-center ">
        <img src="../../../assets/image/logo.svg" alt="logo" class="img-fluid">
    </div>
    <div class="container  caption">

    <h2>Log In</h2>
<p>Welcome Back! Please enter your details</p>

<div class="input-group flex-nowrap py-3">
    <span class="input-group-text" id="addon-wrapping"> 
      <i class="fa-solid fa-mobile-screen"></i></span>
    <input type="email" class="form-control"
     placeholder="Enter your E-mail">
  </div>


  <div class="input-group flex-nowrap py-3 position-relative ">
    <!-- <img src="../../../assets/image/eye.svg" class=" eye"> -->
    <span class="input-group-text" id="addon-wrapping">
        <i class="fa-solid fa-lock"></i>
    </span>
    <input type="password" class="form-control" 
    placeholder="Password" >
     <img src="../../../assets/image/eye.svg" class="eye translate-middle">
  </div>
  <div class="mb-4 d-center justify-content-between">
    <h4>Register Now?</h4>
    <h4 class="forgot">Forgot Password?</h4>
  </div>
  <button class="main w-100">Login</button>

</div>
</section>














<!-- 
Log In

􁟜
Enter your E-mail
􀋭
Forget Password ?
􀎠
Password
􀋭
Register Now?
Forget Password ?
Forgot Password?
Login -->

</section>
